h1, h2, h3, h4, p {
  font-family: cursive;
}

img {
  height: 400px;
  width: 400px;
}

.nick {
  background-color: orange;
}

.home-img img {
  height: 100vh;
  width: 50%;
}


.nav {
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  /* text-align: center; */
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

.char-grid {
  padding-top: 50px;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.Character-card {
  border: 1px solid #ccc;
  background: linear-gradient(#E66365, #38ee1c);
  border-radius: 10%;
  /* min-width: 23%; */
  width:30%;
  padding: 1.6%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.char-img {

}

.char-desc {
  font-size: 1.5em;
  text-align: center;
}

.show-grid {
  padding-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.show-card {
  border: 2px solid white;
  border-radius: 10%;
  background: linear-gradient(#E66465, #9198E5);
  width: 45%;
  padding: 2.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
